.ICEauthority
.Xauthority
.Xresources
.arduino15/
.atom/
.bash_history
.bash_logout
.bash_profile
.bashrc
.bin/
.cache/
.cmake/
.config/Atom/
.config/GIMP/
.config/JetBrains/
.config/Kvantum/
.config/QtProject.conf
.config/Syncplay/
.config/Thunar/
.config/Trolltech.conf
.config/Unknown\ Organization/
.config/Webcamoid/
.config/arcolinux-logo/
.config/arcolinux-tweak-tool/
.config/arcolinux-welcome-app/
.config/arcologout/
.config/autostart/
.config/catfish/
.config/chromium/
.config/conky/
.config/dconf/
.config/discord/
.config/fontconfig/
.config/galculator/
.config/gconf/
.config/geany/
.config/gpick/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/i3/battery_stats/low_batter.log
.config/inkscape/
.config/kdeconnect/
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/knfsshare
.config/knightsrc
.config/libreoffice/
.config/mimeapps.list
.config/mpv/watch_later/
.config/nano/
.config/nautilus/
.config/neofetch/
.config/nitrogen/
.config/nomacs/
.config/obmenu-generator/
.config/openbox/
.config/pamac/
.config/pavucontrol.ini
.config/picom.conf
.config/plank/
.config/polybar/
.config/pragha/
.config/pulse/
.config/pychess/
.config/qBittorrent/
.config/qt5ct/
.config/qutebrowser/
.config/ristretto/
.config/rofi/
.config/spotify/
.config/sublime-text-3/
.config/syncplay.ini
.config/termite/
.config/tint2/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/variety/.firstrun
.config/variety/.last_change_time
.config/variety/.version
.config/variety/Downloaded/
.config/variety/banned.txt
.config/variety/history.txt
.config/variety/scripts/
.config/variety/ui.conf
.config/variety/variety.log
.config/variety/variety_latest_default.conf
.config/variety/wallpaper/
.config/vivaldi/
.config/vlc/
.config/volumeicon/
.config/xfce4/
.config/yad.conf
.config/zoomus.conf
.conkyrc
.dmrc
.dropbox-dist/
.dropbox/
.face
.fehbg
.gitconfig
.gksu.lock
.gnupg/
.gtkrc-2.0
.icons/
.java/
.lesshst
.local/
.mozilla/
.nv/
.nvidia-settings-rc
.pki/
.python_history
.screenrc
.ssh/
.ssr/
.viminfo
.xboardrc
.xinitrc
.xsession
.xsession-errors
.xsession-errors.old
.xsessionrc
.zcompdump-Arch-Laptop-5.8
.zoom/
.zsh_history
Arduino/
Data
Documents/
Downloads/
Dropbox/
GitHubRepos/
IdeaProjects/
Music/
Pictures/
Videos/
path
