/*
!.config/i3/battery_stats/low_batter.sh
!.config/i3/config
!.config/i3/dunstrc
!.config/i3/i3-lock/lock_icon.png
!.config/i3/i3-lock/lock_icon1.png
!.config/i3/i3-lock/lockscreen.sh
!.config/i3/picom.conf
!.config/i3/picom.service
!.config/i3/polybar/bottombar
!.config/i3/polybar/config
!.config/i3/polybar/dynamic_opacity_infinite.sh
!.config/i3/polybar/dynamic_opacity_sub_window.sh
!.config/i3/polybar/dynamic_opacity_sub_workspace.sh
!.config/i3/polybar/launch.sh
!.config/i3/polybar/notif_bar
!.config/i3/polybar/scripts/player-mpris-tail.py
!.config/i3/polybar/topbar
!.config/i3/rofi/blurry.rasi
!.config/i3/rofi/config.rasi
!.config/i3/startup/startup.sh
!.config/mpv/mpv.conf
!.config/mpv/scripts/acompressor.lua
!.config/mpv/scripts/fastforward.lua
!.config/terminator/config
!.config/variety/variety.conf
!.config/zathura/zathurarc
!.gitignore
!.zshrc
