@use "sass:string";
@use "./widget/Notification.scss";
@use "./widget/Applauncher.scss";

$bg: #2b1931;
$fg: #f1f1f1;
$accent: #378df7;
$radius: 7px;
$purple: #4e2b4f;

scale {
  padding: 0;
  margin: 0.4rem 0;

  trough {
    min-height: 6px;
    border-radius: 6px;
  }

  highlight {
    background-color: pink;
    border-radius: 6px;
  }

  slider {
    all: unset;
  }
}

window.Bar {
  border: none;
  box-shadow: none;
  background-color: $bg;
  color: $fg;
  font-size: 1.1em;
  font-weight: bold;

  button {
    all: unset;
    background-color: transparent;
  }

  label {
    padding-bottom: 2px;
  }

  .Workspaces button image {
    color: $purple;
  }

  .Section {
    background: $purple;
    border-radius: 10px;
    padding: 0 5px;
    margin: 3px 0;
  }
}

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window#launcher {
  all: unset;

  box.Applauncher {
    background-color: $bg;
    border-radius: 11px;
    margin: 1rem;
    padding: 0.8rem;
    box-shadow: 2px 3px 8px 0 gtkalpha(black, 0.4);

    entry {
      margin-bottom: 0.8rem;
      background-color: $purple;
    }

    entry:focus {
      box-shadow: none; // required for removing blue outline when focused
    }

    button {
      min-width: 0;
      min-height: 0;
      padding: 0.5rem;
      background: $purple;
      outline-style: solid;
      outline-offset: -1px;
      outline-width: 3px;
      transition: none; // setting border radius to zero when focused causes a small transition to occur which i dislike.

      image {
        font-size: 3em;
        margin-right: 0.3rem;
      }

      label.name {
        font-weight: bold;
        font-size: 1.1em;
      }

      label.description {
        color: gtkalpha($fg-color, 0.8);
      }
    }

    button:focus {
      border-radius: 0px;
    }

    box.not-found {
      padding: 1rem;

      image {
        font-size: 6em;
        color: gtkalpha($fg-color, 0.7);
      }

      label {
        color: gtkalpha($fg-color, 0.9);
        font-size: 1.2em;
      }
    }
  }
}

window#systemcenter {
  all: unset;
}
