[Unit]
Description=Picom compositor

After=graphical.target multi-user.target
Wants=graphical.target

StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s

ExecStart=/usr/bin/picom --config=$PICOM_CONFIG_LOCATION

[Install]
WantedBy=multi-user.target
